*
!docker
!docker/**
!HOST_PATH
!HOST_PATH/**
!src
!src/**
!.eslintrc.json
!.gitignore
!build.mjs
!build.sh
!CHANGELOG.md
!install-libraries.sh
!lint.mjs
!lint.sh
!pre-publish.sh
!publish.sh
!README.md
!version
